.form {
  display: flex;
}

.form__input {
  min-height: 20px;
  margin-right: 10px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(14 14 126);
  border: 2px solid rgb(14 14 126);
}

.form__input:focus,
.form__input:active {
  outline: 1px dashed rgb(14 14 126);
  outline-offset: 1px;
}

.form__button {
  padding: 5px;
  border-width: 2px;
}
