.list__item {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  padding-left: 30px;
}

.list__item + .list__item {
  margin-top: 5px;
}

.list__item::before,
.list__item::after {
  position: absolute;
  display: block;
  margin-right: 8px;
}

.list__item::before {
  top: auto;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: rgb(14 14 126);
  content: counter(num);
  counter-increment: num;
}

.list__text {
  margin-top: 0;
  margin-bottom: 0;
}

.list__text + .list__text:not(.list__text--phone) {
  margin-left: 5px;
  margin-right: 5px;
}

.list__text--phone {
  margin-left: 10px;
  margin-right: 20px;
}

.list__button {
  margin-right: 10px;
  margin-left: auto;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(14 14 126);
  background-color: transparent;
  border: 1px solid rgb(14 14 126);
  border-radius: 0;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.list__button:hover,
.list__button:active {
  color: rgb(255, 255, 255);
  background-color: rgb(14 14 126);
}

.list__button:focus {
  outline: 1px dashed rgb(0, 0, 0);
  outline-offset: 1px;
}

.list__button:disabled {
  cursor: default;
  color: rgb(136, 136, 136);
  border-color: rgb(136, 136, 136);
}
